
.navigation{
  display:flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.navigation ul{
  display: flex;
  list-style-type: none;
}

.navigation ul li{
  margin-left: 100px;
}

.navigation img{
  margin-left: 20px;
}

.hero-section{
  background-color: #495E57;
}

.footer-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}

.doormat-nav{
  margin-top: 60px;
}